/* Global Styles */
* {
    background-color: #f4f5f7;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    margin: 0;
    overflow-y: auto;
  }

.header{
    position: relative; /* 자식 요소의 절대 위치 기준 */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 104px;
    margin: 1vh;
}

.header img{
    position: absolute;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    margin-left: 526px;
}

.dropdown-menu{
    display:none;
    position: absolute;
    top: 5vh;
    margin-left: 30vw;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1000;
    width: 150px;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-menu ul{
    list-style: none;
}

.dropdown-menu li{
    text-align: center;
    padding: 0.5rem;
    background-color: lightgrey;
}

.dropdown-menu li a{
    background-color: lightgrey;
    text-decoration-line: none;
    color: black;
}
.loginBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 90vh;
    width: 100vw;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
    height: 50%;
    margin-top: 130px;
}

.loginForm h2{
    margin-bottom: 60px;
}

.loginForm #form{
    width: 392px;
}

.input-group label {
    text-align: left;
    display: block;
    margin-top: 0.5vh;
    margin-bottom: 1vh;
    margin-left: 30px;
    font-weight: bold; 
    font-size: 15px;
    width: 355px;
}

.input-group input{
    width: 355px;
    box-sizing: border-box;
    padding: 0.5em;
    border-width: 0.1vw;
    margin-left: 18.5px;
    border-radius: 0.5vw;
}

.input-group p {
    font-size: 1rem;
    margin-top: 0.5vh;
    margin-left: 30px;
    color: red;
    text-align: left;
}

.loginForm #modify-button {
    background-color: #ACA0EB;
    color: white;
    text-align: center;
    border-color: transparent;
    width: 355px;
    height: 33px;
    margin-left: 18.5px;
    margin-top: 0.5vh;
    font-size: 14px;
    border-radius: 4px;
}

.loginForm button:hover{
    cursor: pointer;
}

.loginForm #sign-up-button {
    border: none;
    outline: none;
    background-color: inherit ;
    cursor: pointer;
    margin: 10px;
    font-size: 1rem;
}